<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Création de votre mot de passe</title>
   <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f9fafb;
            margin: 0;
            padding: 0;
        }
    </style>    
</head>
<body>
  <p>Bonjour,</p>
  <p>Un compte a été créé pour vous sur la plateforme universitaire.</p>
  <p>Veuillez cliquer sur le lien ci-dessous pour définir votre mot de passe et activer votre compte :</p>
  <p><a href="{{ link }}" style="background-color:#1a73e8; color:white; padding:10px 20px; text-decoration:none; border-radius:5px;">Créer mon mot de passe</a></p>
  <p>Ce lien expirera dans 24 heures.</p>
  <p>Cordialement,<br>L’équipe de la plateforme universitaire</p>
</body>
</html>
